{% extends "CMsystem/index.html" %}


{% block content %}
{% load static %}

<body>
  <center>
    <br>
    <br>
    <br>

    <div class="row row-cols-md-1 row-cols-lg-3 g-0">
      <div class="col">
        <div class="card" style="height:400px; width: 300px;">
          <img src="{% static 'img/complaintbox2.jpg'%}" class="card-img-top" alt="Complaint form"
            style="border-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title">Get the Complaints</h5>

          </div>

        </div>
      </div>
      <div class="col">
        <div class="card " style="height:400px; width: 300px;">
          <img src="{% static 'img/solve3.jpg'%}" class="card-img-top" alt="Solved Complaint"
            style="border-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title">Solve Complaints</h5>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="card" style="height:400px; width: 300px;">
          <img src="{% static 'img/stats.jpg'%}" class="card-img-top" alt="Complaint Stats"
            style="border-radius: 20px;">
          <div class="card-body">
            <h5 class="card-title">Get the stats of Complaints</h5>
          </div>

        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

  </center>
</body>

{% endblock %}

</html>